h1,p,div {
    text-align: center;
}
#app{
    border-radius: 1%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    padding: 20px;
}
/*内存模型样式*/ 
#memory 
{ 
    margin:20px; 
    height: 108px; 
    width: 640px; 
    border-top: 4px solid black; 
    border-bottom: 4px solid black; 
    display: flex; 
}
/* 内存块样式 */
.memory-task{
    position: absolute;
    margin: 1px 0;
    color: white;
    height: 98px;
}
.box-card{
    height: 400px;
    overflow-y:auto;
}
.card{
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.action{
    margin: 10px;
    padding: 10px;
}